@use "../../src/css/abstracts/mixins" as mix;
@use "../../src/css/abstracts/variables" as var;
@use "sass:math";

footer {
  @extend %section;
  background-color: var.$background-color-secondary;
  ul {
    padding: 0;
    margin: 0;
    text-align: center;

    li {
      list-style-type: none;
      text-transform: uppercase;
      padding-bottom: math.div(var.$gutter-base, 4);

      &:last-child {
        padding-bottom: 0;
      }
    }

    a {
      text-decoration: none;
      color: var.$text-color-secondary;
    }
  }
}
